build/
compile_commands.json
a.out
Test
result*
*.gdb_history
*.cache/
CeccompBuild/
diff_result
Makefile
po/*.po~
SOURCES.txt
include/config.h
py-temp/dist/
py-temp/build/
py-temp/ceccomp.egg-info/
py-temp/wheelhouse
py-temp/ceccomp/ceccomp
test_prog
text
gdb_scripts
